section.section {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  border: 1px solid white;
}

.content {
  position: absolute;
  display: flex;
  padding: 2rem 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
