.container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 4rem;
  font-size: 1rem;
  color: white;
}

.container button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  transition: color 0.4s;
  text-shadow: -20px 15px 3px #0c0c0cc2;
}

.container button.selected {
  color: #ffe739;
}

.container button:active, 
.container button:focus, 
.container button:hover  {
  color: #ffd13a /* vert cyprès #0d7967*/;
}

.container span {
  margin: 0 1rem;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .container button {
    font-size: 0.9rem;
  }
  .container {
    padding: 1rem 2rem;
    align-self: center;

  }
  .container span {
    font-size: 0.9rem;
  }
  .links a img {
    width: 20px;
  }
}