section.section {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.content {
  position: absolute;
  display: flex;
  padding: 2rem 4rem;
  flex-direction: column;
  align-items: center; 
  height: 100%;
  width: 100%;
  max-width: 2040px;
  margin-top: -4px;
}

.content.center { justify-content: center; }
.content.start { justify-content: flex-start; }

@media (max-width: 800px) {
  .content {
    padding: 1rem 1.1rem;
  }
}

@media (max-height: 700px) {
  section.section {
    min-height: 110vh;
  }
}

@media (max-height: 600px) {
  section.section {
    min-height: 120vh;
  }
}

@media (max-width: 350px) and (max-height: 600px) {
  .content.start { 
    justify-content: center; 
  }

  section.section {
    min-height: 150vh;
  }
}

@media (max-width: 300px) and (max-height: 900px) {
  .content.start { 
    justify-content: center; 
  }

  section.section {
    min-height: 160vh;
  }
}
