section.section {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.topSky { 
  background: linear-gradient(
    #4facf7 60%, #78cc41, #726908, #331c00
  );
} 
.topCrust { 
  background: linear-gradient(
    #331c00 5%, #ae0000, #c3291b, #d74232, 
    #eb5949, #ff6f61
  );
} 
.core { 
  background: linear-gradient(
    #ff6f61 5%, #ff9d4c, #ffd13a, #ffe739, 
    #ffd13a, #ff9d4c
  );
} 
.bottomCrust { 
  background: linear-gradient(
    #ff9d4c 5%,#fa7268, #f0655a, #e6584b, 
    #db4b3d, #d03d2f, #c52e21, #ba1c11, 
    #ae0000, #331c00 95%
  );
} 
.bottomSky { 
  background: linear-gradient(
    #331c00, #726908, #78cc41, #4facf7 50%
  );
} 

.content {
  position: absolute;
  display: flex;
  padding: 2rem 4rem;
  flex-direction: column;
  align-items: center; 
  height: 100%;
  width: 100%;
  max-width: 2040px;
  margin-top: -4px;
}

.content.center { justify-content: center; }
.content.start { justify-content: flex-start; }

@media (max-width: 800px) {
  .content {
    padding: 1rem 1.1rem;
  }
}

@media (max-height: 700px) {
  section.section {
    min-height: 110vh;
  }
}

@media (max-height: 600px) {
  section.section {
    min-height: 120vh;
  }
}

@media (max-width: 350px) and (max-height: 600px) {
  .content.start { 
    justify-content: center; 
  }

  section.section {
    min-height: 150vh;
  }
}

@media (max-width: 300px) and (max-height: 900px) {
  .content.start { 
    justify-content: center; 
  }

  section.section {
    min-height: 160vh;
  }
}
