/* *** ******************************************** *** */
/* *** ******************************************** *** */
/* *** Shared between sections                      *** */
/* *** ******************************************** *** */
.light { color: white; }

p.description {
  max-width: 900px;
  text-align: center;
  line-height: 1.6rem;
}
